@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover__anime {
    @apply transition-all ease-in-out duration-300;
  }
}
body {
  direction: rtl;
  font-family: "Vazir", sans-serif;
  overflow: overlay;
}

/* custom css styles */
.slider__bg_img {
  background: #f6c84d
    url("https://cdn.alibaba.ir/h/desktop/assets/images/breaking-news/rtb-d1f5b225.png")
    no-repeat;
  background-size: 270px;
  background-position: -20px -35px;
  border-radius: 0.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 5px 0px 0px #c0c0c0;
  border-radius: 30px;
}

.box__shadow {
  box-shadow: -2px -45px 112px -16px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -2px -45px 112px -16px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -2px -45px 112px -16px rgba(0, 0, 0, 0.75) inset;
}
.info__card_train-man {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train03-3939bf8b.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_train-station {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train02-bdc8c838.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_train-people {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train03-3939bf8b.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

/* 4 column bg-image classes - train page */
.info__card_train-koope {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train04-18b35025.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.info__card_train_watching-man {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train05-cb016de5.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.info__card_train_station_2 {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train06-52f070a5.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_haram-reza {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/train07-190ff6bb.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

/* 3 column bg-image / Bus-Ticket page  */

.info__card_ByBusTicket {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/bus01-6af3a02d.png");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_ReserveTicket {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/bus02-c540fe0e.png");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_TicketPrice {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/bus03-3bf1445d.png");
  background-size: cover;
  background-position: 50%;
  height: 200px;

  /* 2 columns bg-image (type ticket => vip,normal) / bus page*/
}
.info__card_VipTicket {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/bus04-ce1c7fff.png");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}
.info__card_NormalTicket {
  background-image: url("https://cdn.alibaba.ir/h/desktop/assets/images/bus05-31fc902f.png");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.bg__nav-select {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 215, 0, 1) 100%
  );
}
.bg__nav_anime {
  animation: select_anime 1s ease-out;
}
/* animation of navSelect */

@keyframes select_anime {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0);
  }
}
